/limine
/ovmf
*.iso
*.hdd
*.img
*.log
*.vdi
.idea/
.vscode/settings.json
userspace/bin/
userspace/target/
kernel/target/
iso_root/

# Keep pre-built binaries that are checked in
!userspace/bin/lua.elf
!userspace/bin/busybox.elf
!userspace/bin/bash.elf
